[Unit]
Description = artifactory Service

[Service]
User=bin
WorkingDirectory=/opt/prometheus-{{ version }}.linux-amd64
ExecStart=/opt/artifactory-oss-7.77.10/app/bin/artifactory.sh start
ExecStop=/opt/artifactory-oss-7.77.10/app/bin/artifactory.sh stop
SyslogIdentifier=artifactory

[Install]
WantedBy=multi-user.target