[Unit]
Description = artifactory Service

[Service]
User=bin
WorkingDirectory=/opt/prometheus-{{ version }}.linux-amd64
ExecStart=/opt/prometheus-{{ version }}.linux-amd64/prometheus
SyslogIdentifier=artifactory

[Install]
WantedBy=multi-user.target