[Unit]
Description = sonarqube Service

[Service]
User=sonar
ExecStart=/opt/sonarqube/sonarqube-24.12.0.100206/bin/linux-x86-64/sonar.sh start
SyslogIdentifier=sonarqube
Type=forking

[Install]
WantedBy=multi-user.target