[Unit]
Description = prometheus Service

[Service]
User=bin
WorkingDirectory=/opt/prometheus-2.53.3.linux-amd64
ExecStart=/opt/prometheus-2.53.3.linux-amd64
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target